body {
    margin: auto;
    text-align: center;
    font-family: sans-serif;
}
table, th, td {
  border: 1px solid black;
  width: 70%;
  margin: auto;
  padding: 5px;
  text-align: center;
}

.form {
    margin-bottom: 50px;
}
#content {
    width: 70%;
}