body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items:center;
    font-family: 'Poppins', sans-serif;
}

.cards {
    background-color: #483D8B;
    color: white;
    justify-content: center
    width: 50%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    text-align: center;
}

.text-bold {
    font-weight: bold;
}