{% extends 'base.html' %}

{% block head %}
<title>NYT Article List</title>
{% endblock %}

{% block body %}
<h2>Specific Article Info</h2>
<div>
    <div class="card">
      <span class="text-bold">Article title:</span>
      <br>
      <span class="text-bold">{{ article['title'] }}</span>
      <br>
      <p class="text-bold">{{ article['byline'] }}</p>
      {% if article['media'][0] == null or article['media'][0] == "" %}
      <img src = "/static/images/undraw_void_-3-ggu.svg" alt="Image not found" width="200" height="200"/>
      <br>
      <text>No image provided!</text>
      {% else %}
      <image src= {{ article['media'][0]['media-metadata'][1]['url'] }} > </image>
      {% endif %}
      <br>
      <br>
      <div class="align-left">
        <p>Date Published: {{ article['published_date'] }}</p>
        <p>Date Updated: {{ article['updated'] }}</p>
        <span>Summary:</span>
        <br>
        <span>{{ article['abstract'] }}</span>
        <br>
        <br>
        <span>Link to article:</span>
        <br>
        <a href={{ article['url'] }}> {{ article['url'] }} </a>
        <p>Source: {{ article['source'] }}</p>
        <p>Type: {{ article['type'] }}</p>
        <p>Section: {{ article['section'] }}</p>
        <p>Subsection: {{ article['subsection'] }}</p>
        <span>Keywords: </span>
        <br>
        <span>{{ article['adx_keywords'] }}</span>
      </div>
      <br>
      <button class="button1" onclick="history.back()">Go back</button>
    </div>
</div>
{% endblock %}